body {
    background-image: url(/wp-content/themes/lits/images/bg-particles-light.png),linear-gradient(#f5f5f5,#f5f5f5);
    background-position: 0 0, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: fixed;
}

input[type="submit"] {
    background-color: $dark-green !important;
    border-color: $dark-green !important;
}

input[type="submit"]:hover {
    opacity: .9;
}

// Cards - Used on Home page and Questions pages
.home,
.category {
  .card {
    display: flex;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 200px;
    width: 60%;
    border: 0;

    @media (min-width:600px) {
        height: 250px;
        width: 60%;
    }

    @media (min-width:768px) {
        width: 25%;
    }

    &:hover {
        text-decoration: none;          
    }
            
    .card-title {
        text-align: center;
    }

    .card-text {
        text-align: center;
    }   

    .card-body {
        background-size: cover;
        position: relative;
        z-index: 1;
        top: 33%;
    }
}

    .card-scroller {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        @media (hover: none) {
            &::-webkit-scrollbar {
                display: none;
            }    
        }

        &.alt {
            .card {

                .card-title {
                    text-align: center;
                    font-family: $lato;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 17px;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                }
        
                .card-text {
                    text-align: center;
                    font-family: $lato;
                    font-weight: 100;
                    font-size: 18px;
                }            
            }
        }
    }

    .card-scroller::-webkit-scrollbar {
        background-color: transparent;
    }    

    .card-scroller::-webkit-scrollbar-thumb {
        background-color: $dark-green;
        cursor: grab;
        cursor: -webkit-grab;
    }
}

.category .card,
.home #section-questions .card {
    .card-title {
        text-align: center;
        font-family: $lato;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .card-text {
        text-align: center;
        font-family: $lato;
        font-weight: 100;
        font-size: 18px;
    }       
}

 /* overlay effects */
 .overlay-cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.overlay {
    background-color: rgba(0,0,0,0.65);
    z-index: 10;
    padding: 1.25rem;
    color: #fff;
}
.overlay-grad {
    position: relative;
}

.overlay-grad::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    // background: -webkit-gradient(linear, left top, right bottom, from(#007bff), to(#e83e8c));
    // background: linear-gradient(to bottom right, #007bff, #e83e8c);
    opacity: 0;
    transition: .5s;
}
.overlay-grad:hover:before{
    opacity: .5;
}

.card-gradient::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    // background: -webkit-gradient(linear, left top, right bottom, from(#007bff), to(#e83e8c));
    // background: linear-gradient(to bottom right, #007bff, #e83e8c);
    opacity: .3;
    transition: .5s;
}
.card-gradient:hover:before {
    opacity: .5;
}