// Category landing pages for Services results
.category,
.single {

    .content-area {
        margin: 40px 0;
    }

    .heading-1 {
        @include heading-2;
        margin-bottom: 30px;
    }

    #services-filter {
        margin-bottom: 30px;

        label {
            font-family: $sans;
            font-size: 20px;
            color: #b3b3b3;

            img {
                width: 25px;
                height: auto;
                margin-left: 5px;
                margin-right: 11px;
            }
        }

        .col {
            margin-left: -10px;
        }

        select {
            border: 0;
            padding: 0;
            font-size: 14px;
            line-height: 1;
            background: transparent;
            color: $dark-green;
            font-size: 20px;
            font-family: $sans;
            margin-top: -12px;
        }        
    }


// test
    .location {
        border-radius: 10px;
        box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
        background-color: $white;
        padding: 10px 0;
        margin: 0 0 20px;
        font-family: $lato;
        clear: both;

        .desktop-call-now {
            display: none;

            @media(min-width: 600px) {
                display: block;
                float: right;                
                padding: 5px 15px;                
                text-align: right;                
                width: 100%;
            }
        }
        
        a {
            &.location__details {
                color: #666;
                font-size: 14px;
                font-weight: 100;
                line-height: 17px;
                text-decoration: none;
                display: inline-block;
                margin-left: 10px;
            }
        }

        &__name {
            color: $dark-green;
            font-size: 15px;
            font-weight: 700;
            line-height: 17px;   
            margin-bottom: 2px;         
            //text-decoration: underline;
        }

        &__subtitle {
            margin-bottom: 2px;
        }

        &__address {

        }

        &__additional-info {
            a {
                color: $dark-green;
            }
        }

        &__distance {
            color: $yellow;
        }

        &__hours {

        }

        .btn {
            font-size: 12px;
            line-height: 14px;
            min-width: 90px;
            text-transform: uppercase;
            font-weight: 400;
            background-color: $blue;
            border-color: $blue;
            padding: 0.5rem;
            float: right;
            margin-right: 10px;

            &:nth-of-type(1) {
                margin-bottom: 12px;
            }

            &:nth-of-type(2) {
                background-color: $green;
                border-color: $green;
            }            
        }

        &:after {
            clear: both;
        }
    }
}

.category {

    .posts-navigation {

        .nav-previous {
            width: auto;
            margin-left: 25px;
            float: right;
        }
        
        .nav-next {
            width: auto;
        }        
    }
}

// Cards on category template (Questions)
#questions-results-container {
    
    .card {
        height: 250px;
        width: 100%;
        margin-bottom: 40px;
    }    
}