  /* Footer */
footer {
    padding: 10px 0;
    background-color: $white;
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100vw;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.15);
    z-index: 2;

    #footer-navigation {
      padding: 0;
      margin: 0 auto;

      .menu-navigation-menu-container {
        width: 100%
      }

      ul#menu-navigation-menu {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          width: 19%;

          a {
            color: #999;
            display: block;
            font-size: 10px;
            font-family: $sans;
            position: relative;
            padding-top: 42px;
            text-align: center;
            text-transform: uppercase;            
            width: 100%;

            &:before {
              content: '\f015';
              font-family: 'FontAwesome';
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
              font-size: 33px;
              position: absolute;
              top: 0;
              left: 0;
              margin: 0 auto;
              width: 100%;
            }   
            
            &.highlight,
            &:hover {
              text-decoration: none;
              opacity: .8;
              color: $dark-green;
            }

            @media (min-width: 360px) {
              font-size: 12px;

              &:before {
                font-size: 35px;
              }
            }
          }

          &:nth-of-type(1) {
            a {

              &:before {
                content: '\f015';
              }
            }
          }

          &:nth-of-type(2) {
            a {

              &:before {
                content: '\f110';
              }
            }
          }

          &:nth-of-type(3) {
            a {

              &:before {
                content: '\f0eb';
              }
            }
          }

          &:nth-of-type(4) {
            a {

              &:before {
                content: '\f2be';
              }
            }
          }      
          
          &:nth-of-type(5) {
            a {

              &:before {
                content: '\f08b';
              }
            }
          }             
        }    
      }
    }
  }

  // Highlight nav for sections/pages
  .category-services footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(2) a,
  #page-type-services footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(2) a,
  .category-questions footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(3) a,
  #page-type-questions footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(3) a,
  .page-id-123 footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(4) a {
    opacity: .8;
    color: $dark-green;
  }