/* Main Navigation - Header */

// Logo
.custom-logo {
    width: 218px !important;
    height: auto !important;

    @media (min-width: 340px) {
        width: 252px !important;
    }
    
    @media (min-width: 360px) {
        width: 262px !important;
    }

    @media (min-width: 375px) {
        width: 272px !important;
    }

    @media (min-width: 414px) {
        width: 310px !important;
        height: 18px !important;        
    }    
}

// Main Navigation 
#masthead {
    //background-image: linear-gradient(#589fd7, #5073d0);    
    background-image: linear-gradient(#5db157,#519a4b);   
}

.navbar.navbar-dark {
    margin: 0 auto;
    max-width: 1200px;
    background-color: transparent !important;

    .navbar-toggler {
        border: 0 none;
        padding: 0;
        font-size: 24px;

        .navbar-toggler-icon {
            height: 2em;
            width: 2em;
            background-image: none;

            &:before {
                content: '\f0c9';
                font-family: 'FontAwesome';
                color: $white;
                font-size: 45px;
            }
        }
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
    opacity: 1;
}

#primary-menu {
    @media (max-width: 991px) {
        text-align: right;
        margin: 10px 6px 10px auto;  
        
        li {
            margin-bottom: 12px;

            a {
                font-size: 20px;
            }
        }
    }    
}
