/* Start Screen (Home) */
.home {

    .entry-header {
        display: none;
    }

    .search-container {
        margin: 40px 20px;
        border: 1px solid #ddd;
        padding: 10px 25px 10px 40px;
        border-radius: 300px;
        background-color: $white;
        position: relative;

        &:before {
            content: '\f002';
            font-family: 'FontAwesome';
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            font-size: 23px;
            position: absolute;
            top: 8px;
            left: 12px;
            color: $dark-green;
        } 

        input[type='text'] {
            border: 0;
            padding: 0;
            font-size: 14px;
            line-height: 1;
        }
    }
    
    .home-scroller-section {
        margin: 20px 0 0 20px;

        .heading {
            @include heading-2;
            font-size: 1.5rem;

            @media(min-width: 600px) {
                font-size: 2rem;
            }
        }

        .card {
            margin: 0 10px 25px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                
            }            
        }
    } 

    #section-services {

        .card-body {
            position: absolute;
            bottom: 0;
            width: 100%;
            top: auto;
        }     
        
        .card-title {
            font-size: 24px;
            line-height: 24px;
        }
    }
}
