.page {

    article {
        margin-top: 40px;

        &.card {
            background: transparent;
            border: 0;
        }

        h1,
        .entry-title {
            @include heading-2();
            margin-bottom: 38px;
        }
        
        .entry-header {
            @media (min-width: 768px) {
                margin: 0 25px;
            }
        }

        .entry-content {
            @media (min-width: 768px) {
                margin: 25px;
            }

            h2 {
                font-size: 26px;
                line-height: 30px;
                margin-bottom: 20px;
                color: $dark-green;
                font-weight: 400;
            }


            a {
                color: $dark-green;
            }
                        
            ol li,
            ul li,
            dl,
            p {
                font-family: $lato;
                font-weight: 100;
                font-size: 20px;
                color: $light-grey;
                line-height: 28px;

                &.profile-footer {
                    font-size: 13px;
                    line-height: 16px;
                    margin: 60px 0 25px;
                    border-top: 1px solid #ccc;
                    padding-top: 5px;
                }                
            }
        }        
    }

    // Profile


    // Feedback form

    .wpcf7-form {
        margin-top: 25px;

        label {
            margin-bottom: 35px;
        }

        input,
        textarea {
            margin-top: 5px;
        }
    }
}