
// Post details stying
.single {

    .btn-back-to {
        margin-bottom: 25px;

        a {
            color: $heading2;
            font-family: $lato;
            font-weight: 100;
            font-size: 24px;
            line-height: 24px;

            &:hover {
                color: $dark-green;
                text-decoration: none;
            }

            &:before {
                content: '< ';
                color: $dark-green;
            }
        }
    }

    .heading-1 {
        font-size: 24px;
        font-weight: 500 !important;
        line-height: 27px;
        margin-bottom: 5px;
    }

    .location__additional-info {
        margin: 10px 0;
    }
    
    .location__cta {
        margin: 25px 0;

        .btn {
            &:nth-of-type(2) {
                background-color: $green;
                border-color: $green;
            }               
        }

        .desktop-call-now {
            display: none;

            @media(min-width: 600px) {
                display: block;
            }
        }        
    }

    .simplefavorite-button,
    .simplefavorite-button.has-count,
    .subheading,
    .location-details {
        color: $light-grey;
        font-family: $lato;
        font-weight: 100;
        font-size: 18px;
        line-height: 22px;
    }

    .subheading {
        font-weight: 500;    
    }    

    .simplefavorite-button,
    .simplefavorite-button.has-count {
        border: 0;
        background: transparent;
        color: $dark-green;
        text-decoration: none;
        font-weight: bold;
        margin-top: 50px;
        cursor: pointer;

        &:before {
            content: '\f2be';
            font-family: 'FontAwesome';
            width: 15px;
            height: auto;
            margin-right: 8px;
        }
    }

    .questions-post-page {
        
        .wp-post-image {
            width: 100%;
            height: 330px;
            object-fit: cover;
        }

        .post-thumbnail {
            margin-top: 0;
            display: block;
        }

        article {
            margin-top: -50px;

            .entry-header {
                background-color: $dark-green;
                padding: 20px 15px 20px 20px;
                color: $white;
                margin: 0 0 0 3%;
                display: inline-block;

                @media (min-width: 768px) {
                    margin-bottom: 50px;
                }                

                @media (max-width: 767px) {
                    .entry-title {
                        font-size: 24px;
                        line-height: 27px;
                    }
                }                
            }

            .entry-content {
                margin: 25px;

                @media (min-width: 768px) {
                    margin: 0 100px 0 4%;
                }

                a {
                    color: $dark-green;
                }
                
                ol,
                ul {
                    padding-left: 23px;
                }

                p,
                li {
                    font-family: $lato;
                    font-weight: 100;
                    font-size: 20px;
                    color: $light-grey;
                    line-height: 28px;
                }
            }
        }
    }
}