.page-template-lits-start-page {

  //background-image: url(/wp-content/themes/lits/images/bg-particles.png), linear-gradient(#5fc3dc,#4748c8);
  background-image: url(/wp-content/themes/lits/images/bg-particles.png), linear-gradient(#5db157,#519a4b);
  
  
  .site-header,
  footer {
    display: none;
  }

  main {
    height: 100%;
  }

  #loading-content {
    display: none;    
    margin: 50px auto;
    text-align: center;
    color: $white;

    @media(min-width: 480px) {
      margin: 35vh auto;
    }
    
    h1 {

      img {
        display: block;
        margin: 0 auto 10px;
        width: 220px;
      }

      span {
        display: block;
        font-family: $lato;
        font-size: 19px;
        line-height: 24px;
        font-weight: 300;
      }
    }

    p {
      font-family: $lato;
      font-size: 19px;
      line-height: 22px; 
      font-weight: 300;
      margin-bottom: 24px;
    }

    .loading-content__bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0 auto 7vh;
      width: 100%;
      padding: 0 25px;

      a {
        display: block;
        text-transform: uppercase;
        background-color: $green;
        border-color: $green;
        margin-bottom: 25px;
        color: $white;

        @media(min-width: 480px) {
          display: inline-block;
        }

        &:nth-of-type(2) {
          background-color: $blue;
          border-color: $blue;
        }   
        
        &:nth-of-type(3) {
          background-color: $blue;
          border-color: $blue;
        }  

        &:active,
        &:focus {
          color: $white;
        }
      }
    }
  }

  #loading-spinner {
      margin: 45vh auto;

      .lds-roller,
      .lds-ellipsis {
          margin: 0 auto;
          display: block;
      }

      //.lds-roller { display: none !important; }
      .lds-ellipsis { display: none !important; }

      p {
          color: $white;
          font-size: 21px;
          letter-spacing: .05em;
          margin: 20px 0 0 28px;
          text-align: center;
      }
  }

  // Loading spinner - from https://loading.io/css/
  .lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
    
  // 
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }      
}