  // General
  main {
   margin: 0 auto 140px;
    max-width: 1200px;
  }
  
  #page {
    //   border: 5px solid green;
    //   height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    //   height: calc(var(--vh, 1vh) * 100);      
    overflow: hidden;
  }

  fieldset input[type=checkbox] {
      margin-right: 20px;
      margin-bottom: 20px;
  }

  fieldset label {
      cursor: pointer;
  }

  .card-body h2:nth-last-of-type(1) {
      margin-bottom: 25px;
  }

  /* Post Details page */
  .single .entry-content {
      margin-top: .5em;


    a {
        color: $dark-green;
    }      
  }
  
.favorites-list {
  padding-left: 0;

  ul {
    padding-left: 0;
    color: $light-grey;
  }

  li {
    border: 0 !important;
    padding: 0 !important;

    a {
      font-size: 16px;
    }
  }
}