
// Colours
$white:     #fff;
$blue:      #527cd1;
$green:     #00a651;
$dark-green: #519a4b;
$light-grey: #666;
$grey:      #999;
$yellow:    #ff8400;
$heading2:  #808080;

// Fonts
$sans:      'Open Sans', sans-serif;
$lato:      'Lato', sans-serif;

// Headings


// Mixins

@mixin heading-1 {

}

@mixin heading-2 {
    color: $heading2;
    font-family: $lato;
    font-weight: 100 !important;
    margin-bottom: 20px;    
    font-size: 29px;
    line-height: 29px;

    @media(min-width:360px) {
        font-size: 34px;
        line-height: 34px;        
    }

    @media(min-width:768px) {
        font-size: 42px;
        line-height: 42px;        
    }    
}
