/*
Theme Name: CPS LITS
Author: Colin Cheverie
Description: Community Links Theme (based on WP Bootstrap 4 theme)
Template: wp-bootstrap-4
Version: 1.0
Text Domain: lits
*/

body {
  background-image: url(/wp-content/themes/lits/images/bg-particles-light.png), -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f5f5f5));
  background-image: url(/wp-content/themes/lits/images/bg-particles-light.png), linear-gradient(#f5f5f5, #f5f5f5);
  background-position: 0 0, 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-attachment: fixed;
}

input[type="submit"] {
  background-color: #519a4b !important;
  border-color: #519a4b !important;
}

input[type="submit"]:hover {
  opacity: .9;
}

.home .card,
.category .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 200px;
  width: 60%;
  border: 0;
}

.home .card:hover,
.category .card:hover {
  text-decoration: none;
}

.home .card .card-title,
.category .card .card-title {
  text-align: center;
}

.home .card .card-text,
.category .card .card-text {
  text-align: center;
}

.home .card .card-body,
.category .card .card-body {
  background-size: cover;
  position: relative;
  z-index: 1;
  top: 33%;
}

.home .card-scroller,
.category .card-scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.home .card-scroller.alt .card .card-title,
.category .card-scroller.alt .card .card-title {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.home .card-scroller.alt .card .card-text,
.category .card-scroller.alt .card .card-text {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.home .card-scroller::-webkit-scrollbar,
.category .card-scroller::-webkit-scrollbar {
  background-color: transparent;
}

.home .card-scroller::-webkit-scrollbar-thumb,
.category .card-scroller::-webkit-scrollbar-thumb {
  background-color: #519a4b;
  cursor: grab;
  cursor: -webkit-grab;
}

.category .card .card-title,
.home #section-questions .card .card-title {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.category .card .card-text,
.home #section-questions .card .card-text {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 18px;
}

/* overlay effects */

.overlay-cover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 10;
  padding: 1.25rem;
  color: #fff;
}

.overlay-grad {
  position: relative;
}

.overlay-grad::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.overlay-grad:hover:before {
  opacity: .5;
}

.card-gradient::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .3;
  -webkit-transition: .5s;
  transition: .5s;
}

.card-gradient:hover:before {
  opacity: .5;
}

/* Main Navigation - Header */

.custom-logo {
  width: 218px !important;
  height: auto !important;
}

#masthead {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5db157), to(#519a4b));
  background-image: linear-gradient(#5db157, #519a4b);
}

.navbar.navbar-dark {
  margin: 0 auto;
  max-width: 1200px;
  background-color: transparent !important;
}

.navbar.navbar-dark .navbar-toggler {
  border: 0 none;
  padding: 0;
  font-size: 24px;
}

.navbar.navbar-dark .navbar-toggler .navbar-toggler-icon {
  height: 2em;
  width: 2em;
  background-image: none;
}

.navbar.navbar-dark .navbar-toggler .navbar-toggler-icon:before {
  content: '\f0c9';
  font-family: 'FontAwesome';
  color: #fff;
  font-size: 45px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  opacity: 1;
}

/* Footer */

footer {
  padding: 10px 0;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100vw;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

footer #footer-navigation {
  padding: 0;
  margin: 0 auto;
}

footer #footer-navigation .menu-navigation-menu-container {
  width: 100%;
}

footer #footer-navigation ul#menu-navigation-menu {
  margin: 0;
  padding: 0;
}

footer #footer-navigation ul#menu-navigation-menu li {
  display: inline-block;
  width: 19%;
}

footer #footer-navigation ul#menu-navigation-menu li a {
  color: #999;
  display: block;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding-top: 42px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

footer #footer-navigation ul#menu-navigation-menu li a:before {
  content: '\f015';
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 33px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
}

footer #footer-navigation ul#menu-navigation-menu li a.highlight,
footer #footer-navigation ul#menu-navigation-menu li a:hover {
  text-decoration: none;
  opacity: .8;
  color: #519a4b;
}

footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(1) a:before {
  content: '\f015';
}

footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(2) a:before {
  content: '\f110';
}

footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(3) a:before {
  content: '\f0eb';
}

footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(4) a:before {
  content: '\f2be';
}

footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(5) a:before {
  content: '\f08b';
}

.category-services footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(2) a,
#page-type-services footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(2) a,
.category-questions footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(3) a,
#page-type-questions footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(3) a,
.page-id-123 footer #footer-navigation ul#menu-navigation-menu li:nth-of-type(4) a {
  opacity: .8;
  color: #519a4b;
}

main {
  margin: 0 auto 140px;
  max-width: 1200px;
}

#page {
  overflow: hidden;
}

fieldset input[type=checkbox] {
  margin-right: 20px;
  margin-bottom: 20px;
}

fieldset label {
  cursor: pointer;
}

.card-body h2:nth-last-of-type(1) {
  margin-bottom: 25px;
}

/* Post Details page */

.single .entry-content {
  margin-top: .5em;
}

.single .entry-content a {
  color: #519a4b;
}

.favorites-list {
  padding-left: 0;
}

.favorites-list ul {
  padding-left: 0;
  color: #666;
}

.favorites-list li {
  border: 0 !important;
  padding: 0 !important;
}

.favorites-list li a {
  font-size: 16px;
}

.page-template-lits-start-page {
  background-image: url(/wp-content/themes/lits/images/bg-particles.png), -webkit-gradient(linear, left top, left bottom, from(#5db157), to(#519a4b));
  background-image: url(/wp-content/themes/lits/images/bg-particles.png), linear-gradient(#5db157, #519a4b);
}

.page-template-lits-start-page .site-header,
.page-template-lits-start-page footer {
  display: none;
}

.page-template-lits-start-page main {
  height: 100%;
}

.page-template-lits-start-page #loading-content {
  display: none;
  margin: 50px auto;
  text-align: center;
  color: #fff;
}

.page-template-lits-start-page #loading-content h1 img {
  display: block;
  margin: 0 auto 10px;
  width: 220px;
}

.page-template-lits-start-page #loading-content h1 span {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 300;
}

.page-template-lits-start-page #loading-content p {
  font-family: "Lato", sans-serif;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 24px;
}

.page-template-lits-start-page #loading-content .loading-content__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto 7vh;
  width: 100%;
  padding: 0 25px;
}

.page-template-lits-start-page #loading-content .loading-content__bottom a {
  display: block;
  text-transform: uppercase;
  background-color: #00a651;
  border-color: #00a651;
  margin-bottom: 25px;
  color: #fff;
}

.page-template-lits-start-page #loading-content .loading-content__bottom a:nth-of-type(2) {
  background-color: #527cd1;
  border-color: #527cd1;
}

.page-template-lits-start-page #loading-content .loading-content__bottom a:nth-of-type(3) {
  background-color: #527cd1;
  border-color: #527cd1;
}

.page-template-lits-start-page #loading-content .loading-content__bottom a:active,
.page-template-lits-start-page #loading-content .loading-content__bottom a:focus {
  color: #fff;
}

.page-template-lits-start-page #loading-spinner {
  margin: 45vh auto;
}

.page-template-lits-start-page #loading-spinner .lds-roller,
.page-template-lits-start-page #loading-spinner .lds-ellipsis {
  margin: 0 auto;
  display: block;
}

.page-template-lits-start-page #loading-spinner .lds-ellipsis {
  display: none !important;
}

.page-template-lits-start-page #loading-spinner p {
  color: #fff;
  font-size: 21px;
  letter-spacing: .05em;
  margin: 20px 0 0 28px;
  text-align: center;
}

.page-template-lits-start-page .lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.page-template-lits-start-page .lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 32px 32px;
  transform-origin: 32px 32px;
}

.page-template-lits-start-page .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}

.page-template-lits-start-page .lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
  animation-delay: -0.036s;
}

.page-template-lits-start-page .lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.page-template-lits-start-page .lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
  animation-delay: -0.072s;
}

.page-template-lits-start-page .lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.page-template-lits-start-page .lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
  animation-delay: -0.108s;
}

.page-template-lits-start-page .lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.page-template-lits-start-page .lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
  animation-delay: -0.144s;
}

.page-template-lits-start-page .lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.page-template-lits-start-page .lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
  animation-delay: -0.18s;
}

.page-template-lits-start-page .lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.page-template-lits-start-page .lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
  animation-delay: -0.216s;
}

.page-template-lits-start-page .lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.page-template-lits-start-page .lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
  animation-delay: -0.252s;
}

.page-template-lits-start-page .lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.page-template-lits-start-page .lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
  animation-delay: -0.288s;
}

.page-template-lits-start-page .lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page-template-lits-start-page .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.page-template-lits-start-page .lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.page-template-lits-start-page .lds-ellipsis div:nth-child(1) {
  left: 6px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}

.page-template-lits-start-page .lds-ellipsis div:nth-child(2) {
  left: 6px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.page-template-lits-start-page .lds-ellipsis div:nth-child(3) {
  left: 26px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.page-template-lits-start-page .lds-ellipsis div:nth-child(4) {
  left: 45px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(19px, 0);
    transform: translate(19px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(19px, 0);
    transform: translate(19px, 0);
  }
}

/* Start Screen (Home) */

.home .entry-header {
  display: none;
}

.home .search-container {
  margin: 40px 20px;
  border: 1px solid #ddd;
  padding: 10px 25px 10px 40px;
  border-radius: 300px;
  background-color: #fff;
  position: relative;
}

.home .search-container:before {
  content: '\f002';
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 23px;
  position: absolute;
  top: 8px;
  left: 12px;
  color: #519a4b;
}

.home .search-container input[type='text'] {
  border: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
}

.home .home-scroller-section {
  margin: 20px 0 0 20px;
}

.home .home-scroller-section .heading {
  color: #808080;
  font-family: "Lato", sans-serif;
  font-weight: 100 !important;
  margin-bottom: 20px;
  font-size: 29px;
  line-height: 29px;
  font-size: 1.5rem;
}

.home .home-scroller-section .card {
  margin: 0 10px 25px;
}

.home .home-scroller-section .card:first-child {
  margin-left: 0;
}

.home #section-services .card-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  top: auto;
}

.home #section-services .card-title {
  font-size: 24px;
  line-height: 24px;
}

.category .content-area,
.single .content-area {
  margin: 40px 0;
}

.category .heading-1,
.single .heading-1 {
  color: #808080;
  font-family: "Lato", sans-serif;
  font-weight: 100 !important;
  margin-bottom: 20px;
  font-size: 29px;
  line-height: 29px;
  margin-bottom: 30px;
}

.category #services-filter,
.single #services-filter {
  margin-bottom: 30px;
}

.category #services-filter label,
.single #services-filter label {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #b3b3b3;
}

.category #services-filter label img,
.single #services-filter label img {
  width: 25px;
  height: auto;
  margin-left: 5px;
  margin-right: 11px;
}

.category #services-filter .col,
.single #services-filter .col {
  margin-left: -10px;
}

.category #services-filter select,
.single #services-filter select {
  border: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  background: transparent;
  color: #519a4b;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  margin-top: -12px;
}

.category .location,
.single .location {
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 10px 0;
  margin: 0 0 20px;
  font-family: "Lato", sans-serif;
  clear: both;
}

.category .location .desktop-call-now,
.single .location .desktop-call-now {
  display: none;
}

.category .location a.location__details,
.single .location a.location__details {
  color: #666;
  font-size: 14px;
  font-weight: 100;
  line-height: 17px;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

.category .location__name,
.single .location__name {
  color: #519a4b;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 2px;
}

.category .location__subtitle,
.single .location__subtitle {
  margin-bottom: 2px;
}

.category .location__additional-info a,
.single .location__additional-info a {
  color: #519a4b;
}

.category .location__distance,
.single .location__distance {
  color: #ff8400;
}

.category .location .btn,
.single .location .btn {
  font-size: 12px;
  line-height: 14px;
  min-width: 90px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #527cd1;
  border-color: #527cd1;
  padding: 0.5rem;
  float: right;
  margin-right: 10px;
}

.category .location .btn:nth-of-type(1),
.single .location .btn:nth-of-type(1) {
  margin-bottom: 12px;
}

.category .location .btn:nth-of-type(2),
.single .location .btn:nth-of-type(2) {
  background-color: #00a651;
  border-color: #00a651;
}

.category .location:after,
.single .location:after {
  clear: both;
}

.category .posts-navigation .nav-previous {
  width: auto;
  margin-left: 25px;
  float: right;
}

.category .posts-navigation .nav-next {
  width: auto;
}

#questions-results-container .card {
  height: 250px;
  width: 100%;
  margin-bottom: 40px;
}

.single .btn-back-to {
  margin-bottom: 25px;
}

.single .btn-back-to a {
  color: #808080;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 24px;
}

.single .btn-back-to a:hover {
  color: #519a4b;
  text-decoration: none;
}

.single .btn-back-to a:before {
  content: '< ';
  color: #519a4b;
}

.single .heading-1 {
  font-size: 24px;
  font-weight: 500 !important;
  line-height: 27px;
  margin-bottom: 5px;
}

.single .location__additional-info {
  margin: 10px 0;
}

.single .location__cta {
  margin: 25px 0;
}

.single .location__cta .btn:nth-of-type(2) {
  background-color: #00a651;
  border-color: #00a651;
}

.single .location__cta .desktop-call-now {
  display: none;
}

.single .simplefavorite-button,
.single .simplefavorite-button.has-count,
.single .subheading,
.single .location-details {
  color: #666;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
}

.single .subheading {
  font-weight: 500;
}

.single .simplefavorite-button,
.single .simplefavorite-button.has-count {
  border: 0;
  background: transparent;
  color: #519a4b;
  text-decoration: none;
  font-weight: bold;
  margin-top: 50px;
  cursor: pointer;
}

.single .simplefavorite-button:before,
.single .simplefavorite-button.has-count:before {
  content: '\f2be';
  font-family: 'FontAwesome';
  width: 15px;
  height: auto;
  margin-right: 8px;
}

.single .questions-post-page .wp-post-image {
  width: 100%;
  height: 330px;
  -o-object-fit: cover;
  object-fit: cover;
}

.single .questions-post-page .post-thumbnail {
  margin-top: 0;
  display: block;
}

.single .questions-post-page article {
  margin-top: -50px;
}

.single .questions-post-page article .entry-header {
  background-color: #519a4b;
  padding: 20px 15px 20px 20px;
  color: #fff;
  margin: 0 0 0 3%;
  display: inline-block;
}

.single .questions-post-page article .entry-content {
  margin: 25px;
}

.single .questions-post-page article .entry-content a {
  color: #519a4b;
}

.single .questions-post-page article .entry-content ol,
.single .questions-post-page article .entry-content ul {
  padding-left: 23px;
}

.single .questions-post-page article .entry-content p,
.single .questions-post-page article .entry-content li {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #666;
  line-height: 28px;
}

.page article {
  margin-top: 40px;
}

.page article.card {
  background: transparent;
  border: 0;
}

.page article h1,
.page article .entry-title {
  color: #808080;
  font-family: "Lato", sans-serif;
  font-weight: 100 !important;
  margin-bottom: 20px;
  font-size: 29px;
  line-height: 29px;
  margin-bottom: 38px;
}

.page article .entry-content h2 {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #519a4b;
  font-weight: 400;
}

.page article .entry-content a {
  color: #519a4b;
}

.page article .entry-content ol li,
.page article .entry-content ul li,
.page article .entry-content dl,
.page article .entry-content p {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #666;
  line-height: 28px;
}

.page article .entry-content ol li.profile-footer,
.page article .entry-content ul li.profile-footer,
.page article .entry-content dl.profile-footer,
.page article .entry-content p.profile-footer {
  font-size: 13px;
  line-height: 16px;
  margin: 60px 0 25px;
  border-top: 1px solid #ccc;
  padding-top: 5px;
}

.page .wpcf7-form {
  margin-top: 25px;
}

.page .wpcf7-form label {
  margin-bottom: 35px;
}

.page .wpcf7-form input,
.page .wpcf7-form textarea {
  margin-top: 5px;
}

@media (min-width: 340px) {
  .custom-logo {
    width: 252px !important;
  }
}

@media (min-width: 360px) {
  .custom-logo {
    width: 262px !important;
  }

  footer #footer-navigation ul#menu-navigation-menu li a {
    font-size: 12px;
  }

  footer #footer-navigation ul#menu-navigation-menu li a:before {
    font-size: 35px;
  }

  .home .home-scroller-section .heading {
    font-size: 34px;
    line-height: 34px;
  }

  .category .heading-1,
  .single .heading-1 {
    font-size: 34px;
    line-height: 34px;
  }

  .page article h1,
  .page article .entry-title {
    font-size: 34px;
    line-height: 34px;
  }
}

@media (min-width: 375px) {
  .custom-logo {
    width: 272px !important;
  }
}

@media (min-width: 414px) {
  .custom-logo {
    width: 310px !important;
    height: 18px !important;
  }
}

@media (min-width: 480px) {
  .page-template-lits-start-page #loading-content {
    margin: 35vh auto;
  }

  .page-template-lits-start-page #loading-content .loading-content__bottom a {
    display: inline-block;
  }
}

@media (min-width: 600px) {
  .home .card,
  .category .card {
    height: 250px;
    width: 60%;
  }

  .home .home-scroller-section .heading {
    font-size: 2rem;
  }

  .category .location .desktop-call-now,
  .single .location .desktop-call-now {
    display: block;
    float: right;
    padding: 5px 15px;
    text-align: right;
    width: 100%;
  }

  .single .location__cta .desktop-call-now {
    display: block;
  }
}

@media (min-width: 768px) {
  .home .card,
  .category .card {
    width: 25%;
  }

  .home .home-scroller-section .heading {
    font-size: 42px;
    line-height: 42px;
  }

  .category .heading-1,
  .single .heading-1 {
    font-size: 42px;
    line-height: 42px;
  }

  .single .questions-post-page article .entry-header {
    margin-bottom: 50px;
  }

  .single .questions-post-page article .entry-content {
    margin: 0 100px 0 4%;
  }

  .page article h1,
  .page article .entry-title {
    font-size: 42px;
    line-height: 42px;
  }

  .page article .entry-header {
    margin: 0 25px;
  }

  .page article .entry-content {
    margin: 25px;
  }
}

@media (max-width: 991px) {
  #primary-menu {
    text-align: right;
    margin: 10px 6px 10px auto;
  }

  #primary-menu li {
    margin-bottom: 12px;
  }

  #primary-menu li a {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .single .questions-post-page article .entry-header .entry-title {
    font-size: 24px;
    line-height: 27px;
  }
}

@media (hover: none) {
  .home .card-scroller::-webkit-scrollbar,
  .category .card-scroller::-webkit-scrollbar {
    display: none;
  }
}